# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*


# do not version control the compiled output
/target/**
.idea/workspace.xml
.idea/uiDesigner.xml

lib/vorbis-java-tika-0.6.jar
lib/tika-core-1.12.jar
lib/tika-parsers-1.12.jar
.idea/.name
.idea/libraries/Maven__com_dlsc_formsfx_formsfx_core_11_3_2.xml
.idea/libraries/Maven__org_apiguardian_apiguardian_api_1_1_0.xml
.idea/libraries/Maven__org_controlsfx_controlsfx_11_1_0.xml
.idea/libraries/Maven__org_junit_jupiter_junit_jupiter_api_5_7_1.xml
.idea/libraries/Maven__org_junit_jupiter_junit_jupiter_engine_5_7_1.xml
.idea/libraries/Maven__org_junit_platform_junit_platform_commons_1_7_1.xml
.idea/libraries/Maven__org_junit_platform_junit_platform_engine_1_7_1.xml
.idea/libraries/Maven__org_kordamp_ikonli_ikonli_core_12_2_0.xml
.idea/libraries/Maven__org_kordamp_ikonli_ikonli_javafx_12_2_0.xml
.idea/libraries/Maven__org_openjfx_javafx_base_17_ea_11.xml
.idea/libraries/Maven__org_openjfx_javafx_base_win_17_ea_11.xml
.idea/libraries/Maven__org_openjfx_javafx_controls_17_ea_11.xml
.idea/libraries/Maven__org_openjfx_javafx_controls_win_17_ea_11.xml
.idea/libraries/Maven__org_openjfx_javafx_fxml_17_ea_11.xml
.idea/libraries/Maven__org_openjfx_javafx_fxml_win_17_ea_11.xml
.idea/libraries/Maven__org_openjfx_javafx_graphics_17_ea_11.xml
.idea/libraries/Maven__org_openjfx_javafx_graphics_win_17_ea_11.xml
.idea/libraries/Maven__org_opentest4j_opentest4j_1_2_0.xml
.idea/workspace.xml
