.Button
{
    -fx-border-color: white;
    -fx-border-width: 2;
    -fx-border-radius: 30;
    -fx-background-color: transparent;

    -fx-background-image: url(../images/next.png);
    -fx-background-size: 25;
    -fx-background-position: 5;
    -fx-background-repeat: no-repeat;
}

.Button:hover {
    -fx-background-color: transparent;
    -fx-border-color: #5786cb;
}

.Button:pressed {
    -fx-background-color: transparent;
    -fx-border-color: #8592c0;
}