
.Button {
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 12pt;
    -fx-text-fill: #d5d4d4;
    -fx-content-display: CENTER;
    -fx-border-radius: 5;
    -fx-border-width: 2;
    -fx-border-color: #e2e2e2;
    -fx-background-image: url(../images/shuffle.png);
    -fx-background-radius: 5;
    -fx-background-color: transparent;
    -fx-background-size: 17;
    -fx-background-position: 9;
    -fx-background-repeat: no-repeat;
}

.Button:hover {
    -fx-background-color: transparent;
    -fx-border-color: #5786cb;
}

.Button:pressed {
    -fx-background-color: transparent;
    -fx-text-fill: #8592c0;
    -fx-background-radius: 30;
}

.Button:disabled {
    -fx-opacity: 0.2;
    -fx-background-color: transparent;
    -fx-text-fill: #d5d4d4;
}

.Button:selected {
    -fx-background-color: transparent;
    -fx-border-color: #4678c5;

}

.Button:selected:focused {
    -fx-background-color: transparent;
    -fx-border-color: #4678c5;
}